
/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins&display=swap');


/* Common Styles */

body {
    font-family: 'Poppins', sans-serif;
}


/* Carousel Slider*/

.common-button {
    background-color: white;
    padding: 5px 20px;
    border-radius: 5px;
    line-height: 1.5;
    display: inline-block;
}

.button-link-1 {
    text-decoration: none;
    color: rgb(128, 0, 128);
    font-size: 16px;
    font-weight: 700;
    vertical-align: middle;
    text-align: center;
}


/* Toast */

.position {
    position: relative;
}

.top {
    position: absolute;
    top: 0;
    right: 0;
}

.text-purple {
    color: rgb(128, 0, 128);
}
 

/* Package Area */


.package {
    padding-top: 80px;
}

.icon-style {
    size: 20px;
    color: rgb(128, 0, 128);
    border-radius: 15px;
    background-color: rgba(144, 59, 184, 0.104);
}


.common-button-2 {
    background-color: rgb(128, 0, 128);
    padding: 5px 20px;
    border-radius: 5px;
    line-height: 1.5;
    display: inline-block;
}

.button-link-2 {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    vertical-align: middle;
    text-align: center;
}

.highlighted-icon-style {
    size: 20px;
    color: white;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.075);
}

.highlighted {
    background-color: rgb(128, 0, 128);
    border-radius: 26px;
}
.hot {
    background-color:rgb(243, 38, 38);
}


